html,
body {
	background: #E8E8E8;
	box-sizing: border-box;
	font-family: "Space Mono", monospace;
	height: 100%;
	margin: 0px;
	padding: 8px;
	width: 100%;
}

* {
	box-sizing: inherit;
	transition-duration: .2s;
	transition-property: none;
	transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}

.card {
	background: #FFF;
	border-radius: 2px;
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.07), 0 4px 8px 0 rgba(0,0,0,0.1);
	color: #252525;
	margin: 50vh 128px 300vh 128px;
	padding: 8px 16px 16px 16px;
	position: relative;
	* {
		margin: 0;
	}
	* + * {
		margin-top: 16px;
	}
}

.fab {
	align-items: center;
	background: #00BCD4;
	border: 0;
	border-radius: 2em;
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14), 0 4px 8px 0 rgba(0,0,0,0.14);
	cursor: pointer;
	display: flex;
	font-size: 12px;
	height: 4em;
	justify-content: center;
	outline: 0;
	padding: 1em;
	position: relative;
	text-align: center;
	transform: scale(1) translateY(0);
	transition-duration: .12s;
	transition-property: box-shadow, transform;
	width: 4em;
	will-change: transform;
	z-index: 2;
	&:hover {
		box-shadow: 0 1px 8px 0 rgba(0,0,0,0.10), 0 8px 8px 0 rgba(0,0,0,0.10);
		filter: brightness(1.15);
		transform: scale(1.02) translateY(-3px);
	}
	&:active {
		box-shadow: 0 0 0 rgba(0,0,0,0);
		filter: brightness(.85);
		transform: scale(0.98) translateY(2px);
	}
	svg {
		fill: #E0F7FA;
		height: 2em;
		pointer-events: none;
		width: 2em;
	}
}

#fab {
	font-size: 18px;
}
#action {
	position: absolute;
	right: -112px;
	transform: translateY(0);
	transition-duration: .05s;
	transition-property: transform;
	transition-timing-function: linear;
}

::-moz-selection {
	background: #00BCD4;
	color: #E0F7FA;
}
::selection {
	background: #00BCD4;
	color: #E0F7FA;
}
