html, body {
  background: #E8E8E8;
}

.spinner {
	height: 0;
	left: 50%;
	margin: -27px 0 0 -27px;
	opacity: 0;
	position: absolute;
	top: 50%;
	transition-property: height, opacity;
	width: 54px;
	z-index: 5;

  svg {
		animation: spinner 1.5s linear infinite;
		height: 54px;
		width: 54px;

    .progress {
      animation: progress 1.5s cubic-bezier(0.4, 0.0, 0.2, 1) infinite, colors 6s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
			fill: none;
			stroke: #db3236;
			stroke-linecap: round;
			stroke-width: 3;
		}
	}
}
@keyframes spinner {
	0% {
		transform: rotate(-110deg)
	}
	20% {
		transform: rotate(-70deg)
	}
	60% {
		transform: rotate(90deg)
	}
	100% {
		transform: rotate(250deg);
	}
}

@keyframes progress {
	0% {
		stroke-dasharray: 1, 150;
		stroke-dashoffset: 0;
	}
	20% {
		stroke-dasharray: 1, 150;
		stroke-dash-offset: 0;
	}
	60% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -35;
	}
	100% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -124;
	}
}
@keyframes colors {
  0% {
    stroke: #db3236;
  }
  23% {
    stroke: #db3236;
  }
  27% {
    stroke: #4885ed;
  }
  48% {
    stroke: #4885ed;
  }
  52% {
    stroke: #3cba54;
  }
  73% {
    stroke: #3cba54;
  }
  77% {
    stroke: #f4c20d;
  }
  98% {
    stroke: #f4c20d;
  }
}
